<a href="https://colab.research.google.com/github/raj1652/Python/blob/main/1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 1 -> Introduction**

1. Memory-Management 
2. Declaration
    * Normal 
    * Chained 
    * Paired
3. type() and id() functions

In [ ]:
a=10.6
type(a) #gives datatype

float

**Memory-Management**

In [ ]:
a=10
b=20
c=25
d=20.3

In [ ]:
id(a)

11256352

In [ ]:
id(b)

11256672

# **Lecture 2 -> OPERATORS**

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Bitwise operators 
6. Identity operators
7. Membership operators

**Arithmetic operators**

In [ ]:
121**0.6

17.769336928223957

In [ ]:
3.5%27.888889

3.5

**Precedence of Operators**

In [ ]:
10-3/5-3*6

-8.6

In [ ]:
-3/5

-0.6

In [ ]:
2.75%1.5

1.25

In [ ]:
3.25%1.25

0.75

Bitwise **operators**

In [ ]:
x=10
x>>2
print(x)

10

In [ ]:
~137

-138

In [ ]:
2+3**5*2<<2

1952

**Convert INR to USD**

In [ ]:
print("Amount in USD is",float(input("Enter amount in INR:"))/78)

Enter amount in INR:55
Amount in USD is 0.7051282051282052

**Find Percentage %**

In [ ]:
total = int(input("Enter your score:"))
gtot = int(input("Enter grand total:"))
print("Percentage is",(total/gtot)*100)

Enter your score:65
Enter grand total:650
Percentage is 10.0

**Find Percentage**

In [ ]:

print("Percentage is",(int(input("Enter your score:"))/int(input("Enter grand total:")))*100)

Enter your score50
Enter grand total120
Percentage is 41.66666666666667

**Convert Celsius to Fahrenheit.**

In [ ]:
cel = float(input("Reading Temp in Celsius:"))
print("Temp in F is",(9*cel)/5+32)

Reading Temp in Celsius:56
Temp in F is 132.8

**Identity operators**
compares memory location of two objects.

*   is          True if the operands are identical in location id(x)=id(y) 
*   is not      True if the operands are not identical id(x) not equal to id(y) **bold text**

In [ ]:

a = 10
b = 200
c = 10
print(id(a), id(b), id(c))
print(a is b)
print(a is c)

11256352 11262432 11256352
False
True

**Membership operators**

In [ ]:

# Python program to illustrate membership operator 
# test for membership in a sequence such as strings , list  or tuples
x = 24
y = 20
list = [10, 20, 30, 40, 50]
  
if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")
  
if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

# **Lecture 3 -> CONTROL STATEMENTS**


1.   if
2.   if else
3.   if elif else

In [ ]:
# Minimum of 2 no
n1 = int(input("Enter 1nd No:"))
n2 = int(input("Enter 2nd No:"))
if n1>n2:
  print(n2,"is minimum")
else:
  print(n1,"is minimum")

Enter 1nd No:2
Enter 2nd No:20
2 is minimum

In [ ]:
# Even or odd
n1 = int(input("Enter 1nd No:"))
if n1%2==0:
  print(n1,"is even")
else:
  print(n1,"is odd")

Enter 1nd No:20
20 is even

In [ ]:
# Check the no is divisible by 5 and 3 
n1 = int(input("Enter 1nd No:"))
if n1%5==0 and n1%3==0:
  print(n1,"is divisible by both 5 and 3")
else:
  print(n1,"is not divisible by 5 and 3")

Enter 1nd No:35
35 is not divisible by 5 and 3

In [ ]:
#Leap Year
# year divisible by 4 and not by 100, or divisible by 400
ye = int(input("Enter year to check for leap year:"))
if (ye%4==0  and  ye%100!=0) or ye%400==0:
  print(ye,"is leap year")
else:
  print(ye,"is not leap year")

Enter year to check for leap year:2022
2022 is not leap year

In [ ]:
# Calculate percentage and class 
# Take total/500

score = int(input("Enter your score:"))
per= (score/500)*100

if per>=60:
  print(per,"Baapu First Class chee")
elif per<60 and per>=50:
    print(per,"Second Class")
elif per<50 and per>=40:
    print(per,"Third Class")
elif per<40:
  print(per,"Fail")
else:
  print("Enter valid score")

Enter your score:480
96.0 Baapu First Class chee

In [ ]:

score = int(input("Enter your score:"))
per= (score/500)*100

if per>=60:
  print(per,"Baapu First Class chee")
elif per>=50:
  print(per,"Second Class")
elif per>=40:
  print(per,"Third Class")
else:
  print(per,"Fail")

Enter your score:230
46.0 Third Class

In [ ]:
# can use trio like    40<per<=50
inp = int(input("Enter your score:"))
if 40<inp<=50:
  print(inp,"Baapu First Class chee")

Enter your score:89
46.0 Baapu First Class chee

In [ ]:
di = int(input("Enter your digit:"))
if di==1 or di==6 or di==7:
  print("J")
elif di==2:
  print("F")
elif di==3 or di==5:
  print("M")
elif di==4 or di==8:
  print("A")
elif di==9:
  print("S")
elif di==10:
  print("O")
elif di==11:
  print("N")
elif di==12:
  print("D")
else:
  print("Error in choice")

Enter your digit:13
Error in choice

In [ ]:
# print 3 nos in ascending order 
no1=int(input("Enter a number:"))
no2=int(input("Enter a number:"))
no3=int(input("Enter a number:"))
if no1<no2 and no1<no3: #check for 1st no.
    if no2<no3:
        print(no1,no2,no3)
    else:
        print(no1,no3,no2)

elif no2<no1 and no2<no3:  #check for 2nd no.
    if no1<no3:
        print(no2,no1,no3)
    else:
        print(no2,no3,no1)

elif no3<no1 and no3<no2:  #check for 3rd no.
    if no1<no2:
        print(no3,no1,no2)
    else:
        print(no3,no2,no1)
else:
    print(no1,no2,no3,"all are euqal")

Enter a number:88
Enter a number:9
Enter a number:2
2 9 88

# **Lecture 4 -> LOOPS**


1.   while
2.   for
3.   else block with loops
4.   Nested Loops

In [ ]:
# It is imp to understand 3 things in loops (start,condition,step)
i=10          #start
while i<=100: #condition
  print(i)
  i+=10       #step
print("The End")

10
20
30
40
50
60
70
80
90
100
The End

In [ ]:
i=10          #start
while i>=0:   #condition
  print(i)
  i-=1        #step
print("The End")

10
9
8
7
6
5
4
3
2
1
0
The End

In [ ]:
n=int(input("Enter the limit:"))
i=1         #start
while i<=n:   #condition
  print(i)
  i+=1        #step
print("The End")

Enter the limit:10
1
2
3
4
5
6
7
8
9
10
The End

In [ ]:
start=int(input("Enter the start:"))
n=int(input("Enter the limit to end:"))
  
if start<n:
  while start<=n:
    print(start)
    start+=1        #step

if start>n:
  while start>=n:
    print(start)
    start1-=1        #step
print("The End")

Enter the start:5
Enter the limit to end:-10
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
The End

In [ ]:
# continue 

i=0          #start
while i<10: #condition
  i+=1
  if i==5:
    continue
  print(i)
         #step

print("The End")

1
2
3
4
6
7
8
9
10
The End

In [ ]:
# continue 

i=0           #start
while i<10:   #condition
  if i==5:
    continue
  print(i)
  i+=1        #step
print("The End")

0
1
2
3
4

In [ ]:
# break

i=0          #start
while i<10: #condition
  i+=1
  if i==5:
    break
  print(i)
         #step

print("The End")

1
2
3
4
The End

In [ ]:
gNo = 16

while True:
  if gNo == int(input("Enter the number:")):
    print("Right")
    break
  print("Try Again")
print("Game over")

Enter the number:23
Try Again
Enter the number:16
Right
Game over

In [ ]:
# keep taking number till user enters 0
# print sum of all

sum=0
while True:
  num = int(input("Enter the number:"))  
  if num==0:
    print("Code by Raj")
    print("Sum of all no is:",sum)
    break
  sum+=num

Enter the number:15
Enter the number:12
Enter the number:65
Enter the number:0
Code by Raj
Sum of all no is: 92

**for loop**

In [ ]:
for i in range(1,5,1):
  print(i)

1
2
3
4

In [ ]:
for i in range(5): #start = 0 , step+=1 by default
  print(i)

0
1
2
3
4

In [ ]:
# cannot jump in fraction
for i in range(1,10,0.5): 
  print(i)

1
6

In [ ]:
for i in range(1,22,+2):
  print(i)
print("---------------")
for i in range(10,101,10):
  print(i)
print("---------------")
for i in range(100,0,-10):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
---------------
10
20
30
40
50
60
70
80
90
100
---------------
100
90
80
70
60
50
40
30
20
10

**3. else block with loops**

In [ ]:
i=1
while i<=7:
  # if i==5:
  #   break
  print(i)
  i+=1
else:
  print("code by raj")
print("end---")

1
2
3
4
5
6
7
code by raj
end---

In [ ]:
i=1
while i<=7:
  if i==5:
    break
  print(i)
  i+=1
else:
  print("code by raj")
print("end---")

1
2
3
4
end---

**4.Nested Loops**

In [ ]:
for i in range(1,4,1):
  for j in range(1,4,1):
    print("i= ",i,"  j=",j)

i=  1   j= 1
i=  1   j= 2
i=  1   j= 3
i=  2   j= 1
i=  2   j= 2
i=  2   j= 3
i=  3   j= 1
i=  3   j= 2
i=  3   j= 3

In [ ]:
# pattern-1
for i in range(6):
  for j in range(1,i+1,1):
    print(j,end="  ")#print in current line only 
  print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [ ]:
# pattern-2
for i in range(6):
  for j in range(1,i+1,1):
    print(j,end="  ")#print in current line only 
  print()

1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [ ]:
# pattern-3
for i in range(5,0,-1):
  for j in range(1,i+1,1):
    print(j,end="  ")#print in current line only 
  print()

1  2  3  4  5
1  2  3  4
1  2  3
1  2
1

In [ ]:
# pattern-4
for i in range(5,0,-1):
  for j in range(1,i+1,1):
    print(i,end="  ")#print in current line only 
  print()

5  5  5  5  5
4  4  4  4
3  3  3
2  2
1

In [ ]:
# Find factorial of a number
fact = 1
n=int(input("Enter n:"))
for i in range(1,n+1):
  fact*= i
print("Factorial of a no is:",fact)

Enter n:5
Factorial of a no is: 120

In [ ]:
# print series 1/2 + 3/4 + 5/6 .... nth term


n=int(input("Enter n:"))
sum=0
k=1
for i in range(1,n+1):
    print(k,"/",(k+1),end=" ")
    sum+=(k/(k+1))
    k=k+2
    
print("Sum is:",sum)

Enter n term:4
1 / 2+ 2 / 3+ 3 / 4+ 4 / 5+ Sum of series: 2.716666666666667

In [ ]:
#1/2-3/4+5/6-7/8.....nth term



n=int(input("Enter n:"))
sum=0
k=1
p=1
for i in range(1,n+1):
    print(k,"/",(k+1),end="  +  ")
    sum+= (p*(k/(k+1)))
    k=k+2
    p*=-1
print("Sum is:",sum)

Enter n:3
1 / 2  +  3 / 4  +  5 / 6  +  Sum is: 0.5833333333333334

In [ ]:
# Fibonacci series
# 0 1 1 2 3 5 .......nth term

n=int(input("Enter n:"))
f0,f1=0,1
for i in range(0,n):
    if i<=1:
        print(i,end=",")
    else:
        fn=f0+f1
        print(fn,end=",")
        f0,f1=f1,fn

Enter n:6
0,1,1,2,3,5,

In [ ]:
# check prime no : no divisible by 1 or itself

n=int(input("Enter no to check for prime:"))
for i in range(2,n):
  if n%i==0:
    print(n,"not prime")
    break

else:
  print(n,"is a prime no")

Enter no to check for prime:2
2 is a prime no

In [ ]:
# Digit extraction 
n=int(input("Enter number:"))
while n>0:
  digit = n%10
  n = n//10
  print("no:",n,"digit:",digit)

Enter number:123
no: 12 digit: 3
no: 1 digit: 2
no: 0 digit: 1

In [ ]:
# armstrong no 153 = 1**3 + 

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [ ]:
no=int(input("Enter number:"))
rno=0#initial
tno=no#temp
while no>0:
    d=no%10
    no=no//10
    rno=rno*10+d
if tno==rno:
    print(tno,"is plaindrome")
else:
    print(tno,"is not plaindrome")

Enter number:123
123 is not plaindrome

In [ ]:
no=int(input("Enter number:"))
rno=0#initial
tno=no#temp
while no>0:
    d=no%10
    no=no//10
    rno=rno*10+d

print(rno)

Enter number:569
965