<a href="https://colab.research.google.com/github/raj1652/Python/blob/main/2_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 5 -> DATA STRUCTURE-1 - LIST**
---
1. indexed access
2. Auto iteration access
3. Slicing
4. Methods of LIST
5. Interview Q's
6. 2D List
7. Properties of List

In [ ]:
# a={}
# type(a)
# b={0}
# type(b)
c=set()
type(c)

set

In [ ]:
# ways to create empty set --
b={0}
type(b)
# c=set()
# type(c)

set

**1. Indexed Access**
---

In [ ]:
lis = [10,20,30,40,55,66,77,88,99,111]
for i in range(len(lis)):
    print("i=",i," ",lis[i])

i= 0   10
i= 1   20
i= 2   30
i= 3   40
i= 4   55
i= 5   66
i= 6   77
i= 7   88
i= 8   99
i= 9   111

**2. Auto iteration access**
---

In [ ]:
lis = [10,20,30,40,55,66,77,88,99,111]
for i in lis:
    print("i =",i)

i = 10
i = 20
i = 30
i = 40
i = 55
i = 66
i = 77
i = 88
i = 99
i = 111

**3. Slicing**
---

In [ ]:
l=[11,22,33,44,55,66,77,88,99,111]

In [ ]:
l[3:9:2]

[44, 66, 88]

In [ ]:
l[::-1]

[111, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
l

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [ ]:
l[::]

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

**4. Methods of LIST**
---

In [ ]:
li = [10,20,30,40,55,66,77,88,99,111]

In [ ]:
sum(li)

596

In [ ]:
min(li)

10

In [ ]:
max(li)

111

In [ ]:
len(li)

10

In [ ]:
sorted(li)

[10, 20, 30, 40, 55, 66, 77, 88, 99, 111]

In [ ]:
l2 = sorted(li)

In [ ]:
l2

[10, 20, 30, 40, 55, 66, 77, 88, 99, 111]

**5. Interview Q's**
---
---

In [ ]:
l=[22,6,45,12,98,56,88,22]

# print second largest no
print(sorted(l)[-2])
# print second smallest
print(sorted(l)[1])

88
12

In [ ]:
l=[22.3,66.8,45,12.26,98.99,56,88.987,22]

# print second largest no
print(sorted(l)[-2])
# print second smallest
print(sorted(l)[1])

# print sum
print(sum(l))

# print max and min
print("Max:",max(l))
print("Min:",min(l))

88.987
22
412.337
Max: 98.99
Min: 12.26

In [ ]:
l=["zzz","bbb","waz","aaa","dad",'raj']

# print sorted 
print(sorted(l))

# print second largest no
print(sorted(l)[-2])
# print second smallest
print(sorted(l)[1])

# print sum
# print(sum(l))


# print max and min
print("Max:",max(l))
print("Min:",min(l))

['aaa', 'bbb', 'dad', 'raj', 'waz', 'zzz']
waz
bbb
Max: zzz
Min: aaa

In [ ]:
lh=[23,5.1,True,"amar"]

In [ ]:
min(lh)  # min,max,sum,sorted cannot compare different datatype - does not support heterogeneity

TypeError: ignored

**6. 2D LIST**
---
---

In [ ]:
# 2D-LIST 
l2D=[[10,20,30],[40,50,60],[70,80,90]]

In [ ]:
l2D[2][1]

80

In [ ]:
for row in l2D:
  print("Line:",row)

Line: [10, 20, 30]
Line: [40, 50, 60]
Line: [70, 80, 90]

In [ ]:
for row in l2D:
  print("Row has:",row)
  for element in row:
    print("Element:",element)

Row has: [10, 20, 30]
Element: 10
Element: 20
Element: 30
Row has: [40, 50, 60]
Element: 40
Element: 50
Element: 60
Row has: [70, 80, 90]
Element: 70
Element: 80
Element: 90

**7. Properties of List**
---
---

1.   list.append()
2.   list.extend()
3.   list.insert()
4.   list.remove()
5.   list.pop([i])
6.   list.clear()
7.   list.index()
8.   list.count()
9.   list.sort() -- temporarily use :sorted
10.  list.reverse() -- temporarily use : [::-1]

In [ ]:
l=['see this','AMAR',55.0,12.9,98.0,11,22,'','in between','The End',33,19.33,22,89,'ralph']

In [ ]:
l.append(589) #adds element to end of list

In [ ]:
l1 = [10,11,12,22,23,65,65,87,74,12.36]

In [ ]:
l.extend(l1) #extends l1 list to end of original list l

In [ ]:
l

['zzz', 'bbb', 'waz', 'aaa', 'dad']

In [ ]:
l.remove(12)
print(l)

ValueError: ignored

In [ ]:
l.pop(5)
print(l)

['see this', 'AMAR', 55.0, 12.9, 98.0, 22, '', 'in between', 'The End', 33, 19.33, 22, 89, 'ralph', 589]

In [ ]:
l.pop()
print(l)

['see this', 'AMAR', 55.0, 12.9, 98.0, 22, '', 'in between', 'The End', 33, 19.33, 22, 89, 'ralph']

In [ ]:
l.pop() # removes last element by default
print(l)

['see this', 'AMAR', 55.0, 12.9, 98.0, 22, '', 'in between', 'The End', 33, 19.33, 22, 89]

In [ ]:
l.pop(-3) # removes last element by default
print(l)

['see this', 'AMAR', 55.0, 12.9, 98.0, 22, '', 'in between', 'The End', 33, 22, 89]

In [ ]:
l.insert(1,789) #(index,value)
print(l)

['see this', 789, 'AMAR', 55.0, 12.9, 98.0, 22, '', 'in between', 'The End', 33, 22, 89]

In [ ]:
l.index('ralph') #gives index of given element

ValueError: ignored

In [ ]:
l.count(22)

2

In [ ]:
l.count(34) #will return 0 if not present

0

In [ ]:
l.sort()
print(l)

[11, 22, 28, 44, 66, 99]

In [ ]:
l=[22,11,66,44,99,28]
l2 = l[::-1]
print(l2)

[28, 99, 44, 66, 11, 22]

In [ ]:
l.sort()
print(l)

TypeError: ignored

In [ ]:
dl=[11,22,11,44,11,66]

In [ ]:
dl.index(11,1)#key , from where to search

3

In [ ]:
dl.sort(reverse=True)
print(dl)

[66, 44, 22, 11, 11, 11]

In [ ]:
ds=set()
while True:     
  inp = float(input("Enter a number:"))
  ds.add(inp)
  if inp == -1:
    print(ds)
    break

Enter a number:54
Enter a number:23
Enter a number:21
Enter a number:-1
{-1.0, 21.0, 54.0, 23.0}

In [ ]:
Dict = {1: 'Jan', 2: 'Feb', 3: 'Mar' , 4: 'Apr' }
data = int(input("Enter number:"))
if 0<data<13:
  print(Dict[data])
else:
  print("wrong choice")

Enter number:3
Mar

# **Lecture 6 -> DATA STRUCTURE - TUPLE**


1. indexed access
2. Auto iteration access
3. Slicing
4. Built in Methods

In [ ]:
# 1. Indexed Access
tu = (11,22,99,74,'ralph',5698745.333)
for i in range(len(tu)):
    print("i=",i," ",tu[i])

i= 0   11
i= 1   22
i= 2   99
i= 3   74
i= 4   ralph
i= 5   5698745.333

In [ ]:
# 2. Auto-Iteration Access
for i in tu:
    print("i=",i)

i= 11
i= 22
i= 99
i= 74
i= ralph
i= 5698745.333

In [ ]:
# 3. Slicing
print(tu[1:4:2])
print(tu[::-1])
print(tu[:3:])

(22, 74)
(5698745.333, 'ralph', 74, 99, 22, 11)
(11, 22, 99)

In [ ]:
# 4.Built in Methods
# count()	Returns the number of times a specified value occurs in a tuple
# index()	Searches the tuple for a specified value and returns the position of where it was found
t=(11,22,11,33,555,555,666,888,99,99)
t.count(11)

2

In [ ]:
t.index(555)

4

# **Lecture 6 -> DATA STRUCTURE - SET**

In [ ]:
s={11,22,11,22,33,33,44,66,88,99,77,88,99,101}

In [ ]:
s

{11, 22, 33, 44, 66, 77, 88, 99, 101}

In [ ]:
s[3]

TypeError: ignored

In [ ]:
for i in range(len(s)):
    print("i=",i," ",s[i])

TypeError: ignored

In [ ]:
for i in s:
  print("i = ",i)

i =  33
i =  66
i =  99
i =  101
i =  11
i =  44
i =  77
i =  22
i =  88

In [ ]:
# Set Theory
a={1,2,3,4,5,6,7,8,9,10}
b={5,6,7,8,22,89,74,11,1,2}

print(a&b) #Intersection
print(a|b) #Union
print(a^b) #Symmetric Difference

print(a-b)
print(b-a)

{1, 2, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 74, 11, 22, 89}
{3, 4, 9, 74, 11, 10, 22, 89}
{9, 10, 3, 4}
{89, 74, 11, 22}

In [ ]:
# Set Built In Methods
s={11,22,11,22,33,33,44,66,88,99,77,88,99,101}
print(s)

{33, 66, 99, 101, 11, 44, 77, 22, 88}

In [ ]:
# 1.
s.add(12369.2333)

In [ ]:
s

{11, 22, 33, 44, 66, 77, 88, 99, 101, 12369.2333}

In [ ]:
# 2.
s2={555,666,777}
s.update(s2)

In [ ]:
s

{11, 22, 33, 44, 66, 77, 88, 99, 101, 555, 666, 777, 12369.2333}

In [ ]:
s2

{555, 666, 777}

In [ ]:
# 3.
# remove()  - element not found --> error
# discard()                     --> no error

s2.remove(555)
print(s2)

{777, 666}

In [ ]:
s2.remove(111)

KeyError: ignored

In [ ]:
s2.discard(666)
print(s2)

{777}

In [ ]:
s2.discard(111)

# **Lecture 6 -> DATA STRUCTURE - DICTIONARY**

In [ ]:
Dict = {1: 'Jan', 2: 'Feb', 3:'Mar' , 4:'Apr' , 5: 'May' , 6:'Jun' , 7:'Jul' , 8:'Aug'}
data = int(input("Enter number:"))
if 0<data<13:
  print(Dict[data])
else:
  print("wrong choice")

In [ ]:
di = {1: 'Jan', 2: 'Feb', 3:'Mar' , 4:'Apr' , 5: 'May' , 6:'Jun' , 7:'Jul' , 8:'Aug'}

In [ ]:
di['amar'] = 'panchal'
di[9.999] = 3.159

In [ ]:
di

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 'amar': 'panchal',
 9.999: 3.159}

In [ ]:
for i in di:
  print(i,"-->",di[i])

1 --> Jan
2 --> Feb
3 --> Mar
4 --> Apr
5 --> May
6 --> Jun
7 --> Jul
8 --> Aug
amar --> panchal
9.999 --> 3.159

In [ ]:
#Q1 - print no in words 
# e.g user input -> 286  o/p -> two eight six

no = {1: 'one', 2: 'two', 3:'three' , 4:'four' , 5: 'five' , 6:'six' , 7:'seven' , 8:'eight' , 9:'nine', 0:'zero'}

user = input("Enter a number:")

for i in user:
  print(no[int(i)],end =" ")

Enter a number:897
eight nine seven

# **Lecture 7 -> DATA STRUCTURE - 2 Interview Q's**

---

In [ ]:
# Q1) Convert given datalist into list,tuple and set.

# Ans: we haven given three methods 
# i)    list()
# ii)   tuple()
# iii)  set()

dl=[11,22,33,44,55,11,22,33,11]
print(type(dl))

<class 'list'>

In [ ]:
t=tuple(dl)
print(t,type(t))

(11, 22, 33, 44, 55, 11, 22, 33, 11) <class 'tuple'>

In [ ]:
se=set(dl)
print(se,type(se))

{33, 11, 44, 22, 55} <class 'set'>

In [ ]:
# Q2) Difference between sorted() and sort()

# Ans:
# sort() function is very similar to sorted() but unlike sorted it returns nothing and makes changes to the original sequence. 
# Moreover, sort() is a method of list class and can only be used with lists.

# List of Integers
numbers = [1, 3, 4, 2]
   
# Sorting list of Integers
numbers.sort()
   
print(numbers)

[1, 2, 3, 4]

In [ ]:
L = [58,68,74,12,0,87,0.5]
L.sort() #sorts permanently

In [ ]:
L

[0, 0.5, 12, 58, 68, 74, 87]

In [ ]:
L = [58,68,74,12,0,87,0.5]
sorted(L) #sorts temporarily

[0, 0.5, 12, 58, 68, 74, 87]

In [ ]:
L

[58, 68, 74, 12, 0, 87, 0.5]

In [ ]:
# Q3. add element if it is not in the list

# Ans: use of membership operators in/not in73.5689875
dl=[]
while True:
    no=int(input("insert a number -ve to stop:"))
    if no<0:
        break
    if no not in dl:
        dl.append(no)
    else:
        print("already present:")

insert a number -ve to stop:56
insert a number -ve to stop:65
insert a number -ve to stop:9
insert a number -ve to stop:787
insert a number -ve to stop:5244
insert a number -ve to stop:77
insert a number -ve to stop:-1

In [ ]:
# Q4. Find average in minimum no of lines
dl=[11,22,33,11,44,55,66,11]
print("Average:",sum(dl)/len(dl))

Average: 31.625

In [ ]:
# Q5) create 2 list one for even other for odd

dl=[1,4,2,3,8,9,34,22,11,56,24,55,11]
dle,dlo=[],[]

for i in dl:
  if i%2==0:
    dle.append(i)
  else:
    dlo.append(i)
print("Even List",dle)
print("Odd List",dlo)
print("Unique list",set(dle),set(dlo))

Even List [4, 2, 8, 34, 22, 56, 24]
Odd List [1, 3, 9, 11, 55, 11]
Unique list {2, 34, 4, 8, 22, 56, 24} {1, 3, 9, 11, 55}

In [ ]:
# Q6. create 2 list one element> avg and other elements<= avag

dl=[1,4,2,3,8,9,34,22,11,56,24,55,11]
dle,dlo=[],[]
avg = sum(dl)/len(dl)

for i in dl:
  if i>avg:
    dle.append(i)
  else:
    dlo.append(i)
print("More Avg",dle)
print("Less Than Avg",dlo)
print("Unique list",set(dle),set(dlo))

More Avg [34, 22, 56, 24, 55]
Less Than Avg [1, 4, 2, 3, 8, 9, 11, 11]
Unique list {34, 22, 55, 56, 24} {1, 2, 3, 4, 8, 9, 11}

In [ ]:
# Q7. Replace in circular Array 
dl=[5,11,7,2,44,87,12,56,23,89,4,22,48]

#replace 1 and last from each position 
# e.g
# dl=[48,11,7,2,44,87,12,56,23,89,4,22,5]
# dl=[48,22,7,2,44,87,12,56,23,89,4,11,5]
# dl=[48,22,4,2,44,87,12,56,23,89,7,11,5]

for i in range(len(dl)):
    dl[i],dl[len(dl)-1-i]=dl[len(dl)-1-i],dl[i]
    print("Pass",(i+1),"\n",dl)

Pass 1
 [48, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 5]
Pass 2
 [48, 22, 7, 2, 44, 87, 12, 56, 23, 89, 4, 11, 5]
Pass 3
 [48, 22, 4, 2, 44, 87, 12, 56, 23, 89, 7, 11, 5]
Pass 4
 [48, 22, 4, 89, 44, 87, 12, 56, 23, 2, 7, 11, 5]
Pass 5
 [48, 22, 4, 89, 23, 87, 12, 56, 44, 2, 7, 11, 5]
Pass 6
 [48, 22, 4, 89, 23, 56, 12, 87, 44, 2, 7, 11, 5]
Pass 7
 [48, 22, 4, 89, 23, 56, 12, 87, 44, 2, 7, 11, 5]
Pass 8
 [48, 22, 4, 89, 23, 87, 12, 56, 44, 2, 7, 11, 5]
Pass 9
 [48, 22, 4, 89, 44, 87, 12, 56, 23, 2, 7, 11, 5]
Pass 10
 [48, 22, 4, 2, 44, 87, 12, 56, 23, 89, 7, 11, 5]
Pass 11
 [48, 22, 7, 2, 44, 87, 12, 56, 23, 89, 4, 11, 5]
Pass 12
 [48, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 5]
Pass 13
 [5, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 48]

In [ ]:
dl=[5,11,7,2,44,87,12,56,23,89,4,22,48]
#replace 1 and last from each position 
j=-1
for i in range(len(dl)):
    dl[i],dl[j]=dl[j],dl[i]
    print("Pass",(i+1),"\n",dl)
    j-=1

Pass 1
 [48, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 5]
Pass 2
 [48, 22, 7, 2, 44, 87, 12, 56, 23, 89, 4, 11, 5]
Pass 3
 [48, 22, 4, 2, 44, 87, 12, 56, 23, 89, 7, 11, 5]
Pass 4
 [48, 22, 4, 89, 44, 87, 12, 56, 23, 2, 7, 11, 5]
Pass 5
 [48, 22, 4, 89, 23, 87, 12, 56, 44, 2, 7, 11, 5]
Pass 6
 [48, 22, 4, 89, 23, 56, 12, 87, 44, 2, 7, 11, 5]
Pass 7
 [48, 22, 4, 89, 23, 56, 12, 87, 44, 2, 7, 11, 5]
Pass 8
 [48, 22, 4, 89, 23, 87, 12, 56, 44, 2, 7, 11, 5]
Pass 9
 [48, 22, 4, 89, 44, 87, 12, 56, 23, 2, 7, 11, 5]
Pass 10
 [48, 22, 4, 2, 44, 87, 12, 56, 23, 89, 7, 11, 5]
Pass 11
 [48, 22, 7, 2, 44, 87, 12, 56, 23, 89, 4, 11, 5]
Pass 12
 [48, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 5]
Pass 13
 [5, 11, 7, 2, 44, 87, 12, 56, 23, 89, 4, 22, 48]

In [ ]:
# Q8. Double the list,tuple

de=[11,22,33]*2

In [ ]:
de

[11, 22, 33, 11, 22, 33]

In [ ]:
d=(11,22,33)*2

In [ ]:
d

(11, 22, 33, 11, 22, 33)

In [ ]:
# Q9. Cycling the list without use of index base operation
dl=[1,2,3,4,5,6]

for i in range(len(dl)):
  dl.append(dl.pop(0))
  print(dl)

[2, 3, 4, 5, 6, 1]
[3, 4, 5, 6, 1, 2]
[4, 5, 6, 1, 2, 3]
[5, 6, 1, 2, 3, 4]
[6, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
# Q10) Reverse-cycling the list without use of index base operation
d1=[1,2,3,4,5]
for i in range(len(d1)):
    d1.insert(0,d1.pop(-1))
    print("Pass:",(i+1),d1)

Pass: 1 [5, 1, 2, 3, 4]
Pass: 2 [4, 5, 1, 2, 3]
Pass: 3 [3, 4, 5, 1, 2]
Pass: 4 [2, 3, 4, 5, 1]
Pass: 5 [1, 2, 3, 4, 5]

In [ ]:
# Q11. Find common elements in both list

d1=[1,2,3,4,5]
d2=[3,4,5,6,7,8]
print("Common elements are:",set(d1)&set(d2))

In [ ]:
# Q12. Convert elemnets of list
# if even no*2
# if odd no/2
dl=[1,2,3,4,5,10,21,22,45,46]
for i in range(len(dl)):
  if dl[i]%2==0:
    dl[i]/=2
  else:
    dl[i]*=2
print(dl)

[2, 1.0, 6, 2.0, 10, 5.0, 42, 11.0, 90, 23.0]

In [ ]:
# Q13) zig-zag merge
d1=[11,22,33,44]
d2=[10,20,30,40,50,60,70]
d3=[]
i=j=0
while i<len(d1) and j<len(d2):
    d3.append(d1[i])
    d3.append(d2[j])
    i+=1
    j+=1
while i<len(d1):
    d3.append(d1[i])
    i+=1
while j<len(d2):
    d3.append(d2[j])
    j+=1
print(d3)

[11, 10, 22, 20, 33, 30, 44, 40, 50, 60, 70]

In [ ]:
# Q13. Other way to do it

d1=[11,22,33,44]
d2=[10,20,30,40,50,60,70]
d3=d1+d2 
print(sorted(d3))

[10, 11, 20, 22, 30, 33, 40, 44, 50, 60, 70]

In [ ]:
# Q14. Take n elements 
# 1) Print unique elements 
# 2) Count repetiton of each
# 3) Print freq of each in sorted order.

dl=[]
while True:
    no=int(input("insert a number -ve to stop:"))
    if no<0:
        break
    else:
      dl.append(no)
      11
us = set(dl)
print(us)


for i in sorted(us):
  print(i,"-->",dl.count(i))

insert a number -ve to stop:55
insert a number -ve to stop:555
insert a number -ve to stop:11
insert a number -ve to stop:22
insert a number -ve to stop:11
insert a number -ve to stop:55
insert a number -ve to stop:-1
{11, 555, 22, 55}
11 --> 2
22 --> 1
55 --> 2
555 --> 1