<a href="https://colab.research.google.com/github/raj1652/Python/blob/main/4_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Lecture 10 -> Functions**
---
---
1. Method Overloading   
2. Nesting of Functions
3. Keyword Parameter
4. Default Value Parameter
5. Variable Size Parameter
6. Recursion
7. Pass by value
8. Pass by reference
9. Generator - Yield Concept
10. Iterator

In [ ]:
def ralph(name):
  print("Hello,",name,"\nralph is here to help !")

In [ ]:
ralph("amar sir")

Hello, amar sir
ralph is here to help !

In [ ]:
# 1. Method Overloading
# function with same name but multiple opeartion support

def add(p1,p2):
  print()

In [ ]:
# 2. Nesting of Functions
def min(m1,m2):
  if m1>m2:
    print(m2, "is minimum")
  elif m2>m1:
    print(m1, "is minimum")
  else:
    print("they are equal")

In [ ]:
min(45,5)

5 is minimum

In [ ]:
# pass by value
def min(m1,m2):
  if m1>m2:
    return m2
  elif m2>m1:
    return m1
  else:
    print("they are equal")

In [ ]:
c = min(int(input("Enter no1:")),int(input("Enter no2:")))
print("Minimum is:",c,type(c))

Enter no1:58
Enter no2:85
Minimum is: 58 <class 'int'>

In [ ]:
#On returning multiple values , packed in tuple
def min(m1,m2):
  if m1>m2:
    return (m2,m1)
  elif m2>m1:
    return (m1,m2)
  else:
    print("they are equal")

In [ ]:
c = min(int(input("Enter no1:")),int(input("Enter no2:")))
print("Minimum is:",c,type(c))

Enter no1:55
Enter no2:66
Minimum is: (55, 66) <class 'tuple'>

In [ ]:
def min(m1,m2):
  if m1>m2:
    return m2
  elif m2>m1:
    return m1
  else:
    return m1

In [ ]:
c = min(min(4,7),min(11,11))

In [ ]:
c

4

In [ ]:
# Q) WAP to make TAX CALCULATOR 
# 10% tax on amt > 1000
# 5%  tax on amt >500
# 1%  tax on amt >100
# return tax

def taxCalculate(amt):
  if amt>1000:
    return amt*0.1
  elif amt>500:
    return amt*0.05
  elif amt>100:
    return amt*0.01
  else:
    return 0

In [ ]:
sal = float(input("Enter salary:")) 
print("Your Salary after tax deduction",sal-taxCalculate(sal))

Enter salary:5000
Your Salary after tax deduction 4500.0

In [ ]:
# 3. Keyword Parameter
def intro(name,native):
  print("Myself",name,"and i m from",native)

In [ ]:
intro(native="jamnagar",name='Ralph')

Myself Ralph and i m from jamnagar

In [ ]:
# 4. Default Parameter
def intro(name="user",native="india"):
  print("Myself",name,"and i m from",native)

In [ ]:
intro()

Myself user and i m from india

In [ ]:
intro(name="amar sir")

Myself amar sir and i m from india

In [ ]:
intro(native="Ghandinagar")

Myself user and i m from Ghandinagar

In [ ]:
# 5. Variable size Parameter
def hobbies(*h):
  print("Total Hobbies:",len(h))
  for item in h:
    print(item)

In [ ]:
hobbies("trek",'code','swim','squash')

Total Hobbies: 4
trek
code
swim
squash

In [ ]:
hobbies("trek",'swim')

Total Hobbies: 2
trek
swim

In [ ]:
# pass n numbers 
# calculate sum and avg of all
# print only elements greater than average


def sumavg(*nlist): # will create tuple
#  sum(nlist)/len(nlist)
  # return(nlist)
  for i in nlist:
    print(i,type(i),"",id(i))

In [ ]:
ilist = []
tup = (1,2,3,4,ilist)

while True:
  i = int(input("Enter a number and enter -ve to stop:"))
  if i > 0:
    ilist.append(i)
  else:
    break
#
sumavg(tup)
# sumavg([1,2,3,4,5])

Enter a number and enter -ve to stop:8
Enter a number and enter -ve to stop:9
Enter a number and enter -ve to stop:10
Enter a number and enter -ve to stop:0
(1, 2, 3, 4, [8, 9, 10]) <class 'tuple'>  139706530522512

In [ ]:
t= (1,2,3,[5,8,9,10])
for i in t:
  print(i,type(i),"",id(i))

1 <class 'int'>  11256064
2 <class 'int'>  11256096
3 <class 'int'>  11256128
[5, 8, 9, 10] <class 'list'>  139706530632240

In [ ]:
# 9. Generator - Yield

def increment(amt,yrs):
  for i in range(1,yrs+1):
    amt+= amt*0.10
    print("At year",i,"amount:",amt)
    yield

In [ ]:
years,amount = int(input("Enter years of saving:")),float(input("Amount given:"))
ix = increment(amount,years)

Enter years of saving:23
Amount given:5

In [ ]:
next(ix)

At year 2 amount: 6.05

In [ ]:
# 10. Iterator 
mycolor = ['black','blue','green']
i=iter(mycolor)

In [ ]:
next(i)

'blue'

**Lecture 11 -> Interview Q's on Functions**
---
---

In [ ]:
# Q1) Max of 3 no's

def max(n1,n2):
    if n1<n2:
        return n2
    elif n2<n1:
      return n1
    else:
        return n1

In [ ]:
n1 = int(input("Enter no1:"))
n2 = int(input("Enter no2:"))
n3 = int(input("Enter no3:"))
c=max(n3,max(n1,n2))
print(c)

Enter no1:84
Enter no2:48
Enter no3:22
84

In [ ]:
#Q2) dl = [5,10,15,20]

def multiply(li,multiplier):
  for i in range(len(li)):
    li[i]*=multiplier
  return li

In [ ]:
dl = [10,20,30];
print(multiply( dl,2 ))

[20, 40, 60]

In [ ]:
#Q3)  WAP to print no in range
# dl = [5,10,15,20]

# range calculation
start = 10
end = 90
no = 88
if no in range(start,end+1):
  return 1
else:
  return 0

SyntaxError: ignored

In [ ]:
#Q4) WAP a python function that accept a string 
# and calculate the no of upper case and lower case letters
def count(str):
  upper=lower=0
  for i in str:
    if i.isupper():
      upper+=1
    if i.islower():
      lower+=1
  return(upper,lower)

In [ ]:
count("Amar Panchal is my sir.")

(2, 16)

In [ ]:
# Q5) take a list and return list with unique elements in sorted manner

def ulist(data):
  newlist = list()
  for i in data:
    if i not in newlist:
      newlist.append(i)
  return sorted(newlist)

In [ ]:
li = [10,10,20,20,90,60,60]
ulist(li)

([10, 20, 60, 90], list)

In [ ]:
def usort(data):
  sortedlist = (sorted(set(data)))
  return sortedlist

In [ ]:

usort([10,10,20,20,90,60,60])

[10, 20, 60, 90]

In [ ]:
# Q6) primeCheck

def primeCheck(num):
  flag = True
  for i in range(2,num):
    if num%i ==0:
      flag=False
      break
  return(flag)

In [ ]:
numb = int(input("Enter a no:"))
print(numb,"is prime:",primeCheck(numb))

Enter a no:22

TypeError: ignored

In [ ]:
# Sample i/p -
# green-yellow-black-white-yellow

# o/p -
# black-green-red-white-yellow

def hysep(data):
  wordlist = sorted(data.split("-"))
  s2=worlist[0]

  for i in range(1,len(wordlist)):
    s2 = s2+'-'+wordlist[i]
    return(s2)

In [ ]:
data = "green-yellow-black-white-yellow"
hysep(data)

NameError: ignored

In [ ]:
# write code to run code stored in a string

code = "print('Hello World')"

In [ ]:
code

"print('Hello World')"

In [ ]:
exec(code)

Hello World

In [ ]:
# What is lambda notation / also known as ananymous function ?

# variable based chalta hai !

# var 1 = lambda var 2:expression

d = lambda x:x*2

In [ ]:
d(30)

60

In [ ]:
d("amar")

'amaramar'

In [ ]:
A = lambda  n1,n2:n1+n2

In [ ]:
A(10,20)

30

In [ ]:
B = lambda  var : var,"amar sir is here to help!"

In [ ]:
B(raj)

NameError: ignored