<a href="https://colab.research.google.com/github/raj1652/Python/blob/main/6_OOPS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 13 -> OOPS-2**
---
# 1. Inheritance
# 2. Types of Inheritance
* A) Single Level 
* B) Multi-Level
* C) Hierarchical 
* D) Multiple 

# 3. OverRide
# 4. super() Method

In [ ]:
# A) Single Level Inheritance
class Parent:
    def  A(self):
        print("hi i m method a from A")

class Child(Parent):
    def B(self):
        print("Method B from Class B")

In [ ]:
o1 = Child()

In [ ]:
o1.A()

hi i m method a from A

In [ ]:
# visibility and inheritance
class Aparent:
    def  A1(self):    #public
        print("hi i m method A1 from A")
    def  _A2(self):   #private
        print("hi i m method A2 from A")
    def  __A3(self):  #strong private
        print("hi i m method A3 from A")

class Bchild(Aparent):
    def B1(self):
        print("Method B1 from Class B")

In [ ]:
obj1=Bchild()

In [ ]:
print(obj1.A1)
print(obj1._A2())
print(obj1.B1())

<bound method Aparent.A1 of <__main__.Bchild object at 0x7fd58b4d4290>>
hi i m method A2 from A
None
Method B1 from Class B
None

In [ ]:
obj1.__A3() #will not be able to access strong private

AttributeError: ignored

In [ ]:
# B) Muli-Level Inheritance
class Rajesh:
    def  A(self):
        print("hi i m method a from A")
class Jibran(Rajesh):
    def B(self):
        print("Method B from Class B")
class Raj(Jibran):
    def C(self):
        print("Method C from Class C")

In [ ]:
obj2=Raj()

In [ ]:
obj2.C()

Method C from Class C

In [ ]:
# C) Heirarchical Inheritance
class Rajesh:
  def A(self):
    print("hi i m Director")
class Manas(Rajesh):
  def B(self):
    print("I m HOD and report to rajesh")
class Rishikesh(Rajesh):
  def C(self):
    print("I m Design-Head and report to rajesh")
class Jibran(Rajesh):
  def D(self):
      print("I m Control-Head and report to rajesh")

In [ ]:
ob1 = Rajesh()

In [ ]:
ob1.A()

hi i m Director

In [ ]:
ob2 = Jibran()

In [ ]:
ob2.A()
ob2.D()

hi i m Director
I m Control-Head and report to rajesh

In [ ]:
ob2.C()

AttributeError: ignored

In [ ]:
# D) Multiple Inheritance
class A:
    def  A(self):
        print("hi i m method a from A")
    def me(self):
        print("This is me from A")
class B:
    def B(self):
        print("Method B from Class B")
    def me(self):
        print("This is me from B")
class C:
    def C(self):
        print("Method C from Class C")
    def me(self):
        print("This is me from C")

In [ ]:
class D(B,A,C): # FCFT - first come first take   - here B is first
    def D(self):
        print("hi i m D from Class D")

In [ ]:
obj=D()
obj.me()
obj.A()
obj.B()
obj.C()

This is me from B
hi i m method a from A
Method B from Class B
Method C from Class C

In [ ]:

obj.me()

This is me from B

In [ ]:
class D(C,B,A):  # FCFT - first come first take   - here C is first
    def D(self):
        print("hi i m D from Class D")

In [ ]:
obj12 = D()
obj12.me()

This is me from C

# 3. OverRide
---

In [ ]:
#override
class Parent:
    def pray(self):
        print("aarti,stotra,diya etc")
class Child(Parent):
    def pray(self):
        print("Thank you god.")

In [ ]:
obj=Child()

In [ ]:
obj.pray()

Thank you god.

# 4. super() Method
----

In [ ]:
class A:
  def __init__(self,data):
    print("init from A called:",data)

class B(A):
    def __init__(self,data1,data2,data3):
      super().__init__(data1)
      print("init from A called:",data2,data3)

In [ ]:
obj1 = B("Amar","Raj","Shyam")

init from A called: Amar
init from A called: Raj Shyam

In [ ]:
obj1 = B(100,250,600)

init from A called: 100
init from A called: 250 600

# 5. Null class / Empty Class
----

In [ ]:
class Human:
  pass

In [ ]:
h1 = Human()

In [ ]:
setattr(h1,'gender','male')

In [ ]:
h1.gender

'male'

In [ ]:
setattr(h1,'name','Ralph')

In [ ]:
h1.name

'Ralph'

In [ ]:
getattr(h1,'gender')

'male'

In [ ]:
getattr(h1,'name')

'Ralph'

In [ ]:
# Design-1

class Human:
  def setHuman(self,name,gender):
    self.name = name
    self.gender = gender

class Education(Human):
  def setEducation(self,degree):
    self.degree = degree

class Job(Education):
  def setJob(self,title,salary):
    self.title = title
    self.salary = salary
  
  def display(self):
    print(self.name,self.gender,self.degree,self.title,self.salary)

In [ ]:
h1 = Job()

In [ ]:
h1.setHuman('ralph','male')
h1.setEducation('MTRX')
h1.setJob('Intern',3000)
h1.display()

ralph male MTRX Intern 3000

In [ ]:
# Design-2

class Human:
  def setHuman(self,name,gender):
    self.name = name
    self.gender = gender

class Education(Human):
  def setEducation(self,degree):
    self.degree = degree

class Job(Education):
  def setJob(self,name,gender,degree,title,salary):
    self.setHuman(name,gender) #calling respective functions
    self.setEducation(degree)
    self.title = title
    self.salary = salary
  
  def display(self):
    print(self.name,self.gender,self.degree,self.title,self.salary)

In [ ]:
obj1 = Job()

In [ ]:
obj1.setJob('amar','male','Phd','Teacher',120)

In [ ]:
obj1.display()

amar male Phd Teacher 120

In [ ]:
# Design-3

class Human:
  def setHuman(self,name,gender):
    self.name = name
    self.gender = gender

class Education(Human):
  def setEducation(self,name,gender,degree):
    self.degree = degree
    self.setHuman(name,gender)

class Job(Education):
  def setJob(self,name,gender,degree,title,salary):
     #calling respective functions
    self.setEducation(name,gender,degree)
    self.title = title
    self.salary = salary
  
  def display(self):
    print(self.name,self.gender,self.degree,self.title,self.salary)

In [ ]:
obj2 = Job()

In [ ]:
obj2.setJob('Shreya','female','Phd','Teacher',100)

In [ ]:
obj2.display()

Shreya female Phd Teacher 100

In [ ]:
# Design-4

class Human:
  def __init__(self,name,gender):
    self.name = name
    self.gender = gender

class Education(Human):
  def __init__(self,name,gender,degree):
    super().__init__(name,gender)
    self.degree = degree

class Job(Education):
  def __init__(self,name,gender,degree,title,salary):
    #calling respective functions
    super().__init__(name,gender,degree)
    self.title = title
    self.salary = salary

  def display(self):
    print(self.name,self.gender,self.degree,self.title,self.salary)

In [ ]:
a1 = Job("raj",'male','MTRX','intern',220)

In [ ]:
a1.display()

raj male MTRX intern 220